{% extends "base.html" %}

{% block cuerpo %}
<div class="container">
	<div class="row">
		<div class="span8 offset1">
			<div class="alert alert-success">
				 <button type="button" class="close" data-dismiss="alert">×</button>
				<h4>
					Aviso:
				</h4> <strong>Su pedido ya fue enviado</strong>
			</div>
			<form method="post" action=".">
				{{form}}
				<button type="submit" class="btn btn-success btn-mini">Confirmar</button>{% csrf_token %}
			</form>
		</div>
	</div>
</div>
{% endblock %}