{% extends "base.html" %}
{% block cuerpo %}
	
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 well">
			<h3 class="text-right text-info">
				Procesar pedido
			</h3>
			<p class="text-right lead">
				<strong>Cliente: </strong> {{pedido.cliente.user.first_name}} {{pedido.cliente.user.last_name}}
			</p>
		</div>
		<hr>
	</div>
	<div class="span12">
			<form class="form-inline" method="POST" action="{% url 'procesar_pedido_producto' producto.id %}">
				<fieldset>
					 <legend>{{producto}}</legend> {{form}} <button type="submit" class="btn btn-success">Confirmar</button>{% csrf_token %}
				</fieldset>
			</form>
		</div>
	<div class="row-fluid">
		<div class="span12">
			<table class="table table-condensed table-bordered table-hover" id="table">
				<thead>
					<tr>
						<th>
							Producto
						</th>
						<th>
							Cantidad
						</th>
						
					</tr>
				</thead>
				<tbody>
					{% for producto_pedido in productos_pedidos %}
					<tr>
						<td>
							{{producto_pedido.producto}}
						</td>
						<td>
							{% if not producto_pedido.cantidad %}
								<a href="{% url 'procesar_pedido_producto' producto_pedido.producto.id %}"><span class="label label-important">Indique cantidad</span></a>
							{% else %}
								{{producto_pedido.cantidad}}
							{% endif %}
						</td>
						
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td>
							<strong>TOTAL:</strong>
						</td>
						<td>
							{{total}}
						</td>
					</tr>	
				</tfoot>
			</table>
		</div>
	</div>
</div>
{% endblock %}