{% extends "base.html" %}
{% block breadcrumb %}
	
{% endblock %}
{% block cuerpo %}
	
	<ul class="thumbnails">
		{% for oferta in ofertas %}	
			<li class="span3">
				<div class="thumbnail">
					
					<div class="caption">
						<h4>{{oferta.producto}}</h4>
						<img src="{{STATIC_URL}}{{oferta.producto.imagen}}" alt="">
						<p>{{oferta.producto.descripcion}}</p>
						<p>${{oferta.costo}} <a class="btn" href="#"> <i class="icon-shopping-cart"></i>Comprar</a></p>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>

	{% if ofertas %}		
		<div class="class pager">
			<ul>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">Ultimo</a></li>
			</ul>
		</div>

	{% endif %}

	

{% endblock %}