
<label class="nav-header">Ingresar</label>
<form method="post" action="{% url 'login' %}">
     {% if form.non_field_errors  %}
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{ form.non_field_errors }}</strong> 
      </div>
     {% endif %} 
    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          {{form.usuario}}
        </div>
      </div>
      {{ form.usuario.errors }}
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span>
          {{form.password}}
        </div>
      </div>
      {{ form.password.errors }}
    </div>
				
		<p>		<input type="submit" class="btn btn-success btn-small btn-block" value="Ingresar" />{% csrf_token %}</p>
				<br>
				<p><a href="{% url 'registro' %}" >Desea Registrarse?</a></p>
        <p><a href="../extranet/index.html" >Olvido su contrase&ntilde;a?</a></p>
			
			
		

</form>
			