
<label class="nav-header">Ingresar</label>
<form method="post" action="{% url 'login' %}">

    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <input placeholder="Usuario" class="span9" {{form.usuario}} />
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span>
          <input placeholder="Contraseña" class="span9" {{form.password}}/>
        </div>
      </div>
    </div>
				
		<p>		<input type="submit" class="btn btn-success btn-small btn-block" value="Ingresar" />{% csrf_token %}</p>
				<br>
				<p><a href="{% url 'registro' %}" >Desea Registrarse?</a></p>
        <p><a href="../extranet/index.html" >Olvido su contrase&ntilde;a?</a></p>
			
			
		

</form>
			