
<label class="nav-header">Area de Miembros</label>

        <p><strong>Hola {% if user.first_name %}{{user.first_name}}{% else %}{{user}}{% endif %}</strong></p>
        <p><strong>Ultimo ingreso:</strong> {{user.last_login}} </p>
 <ul class="nav nav-list">
   
      <li> <a href=""> 
            <i class="icon-user"></i> 
            Modificar Perfil </a>  
      </li>  
      
    
    {% if user.is_staff %}
    <li>
        <a href="/admin/">
          <i class="icon-wrench"></i>Ir a la administracion</a>
    </li>
    <li>
        <a href="{% url 'categorias' %}">
          <i class="icon-tasks"></i>Gestion de Categorias</a>
    </li>
    <li>
        <a href="{% url 'productos' %}">
          <i class="icon-tasks"></i>Gestion de Productos</a>
    </li>
    <li>
        <a href="{% url 'ofertas' %}">
          <i class="icon-tasks"></i>Gestion de Ofertas</a>
    </li>
    <li>
        <a href="">
          <i class="icon-tasks"></i>Pedidos Pendientes</a>
    </li>
    <li>
        <a href="">
          <i class="icon-tasks"></i>Pedidos Procesados</a>
    </li>
    <li>
        <a href="">
          <i class="icon-tasks"></i>Envio de Pedidos</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'ver_carrito' %}">
          <i class="icon-shopping-cart"></i>Ir a mi carrito</a>
    </li>
    <li>
        <a href="">
          <i class="icon-eye-open"></i>ver mis pedidos</a>
    </li>
    {% endif %}
    <li> <a href="/logout/"> 
            <i class="icon-off"></i> 
            Cerrar sesi&oacute;n </a>  
      </li>
  </ul>

