{% extends "base.html" %}
{% block breadcrumb %}
	<li><a href="{% url 'ver_producto' prod.id %}">{{prod}}</a> <span class="divider">/</span></li>
{% endblock %}
{% block cuerpo %}
	{% if prod.espec %}
		<div class="container">
			<div class="row">
				<div class="span5 offset1">
					<p>
						{{prod.espec}}
					</p>
				</div>
				<div class="span3">
					<img src="{{STATIC_URL}}{{prod.imagen}}" />
					<form class="form-inline" method="post" action".">{% csrf_token %}
						<fieldset>
							 <legend>{{prod}}</legend> 
							   <button type="submit" class="btn btn-success btn-mini"><i class="icon-shopping-cart icon-white"></i><strong>Comprar</strong></button>
							  	<a href="/" class="btn btn-primary btn-mini"><i class="icon-arrow-left icon-white"></i><strong> Seguir Comprando
							  	</strong></a>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	{% else %}
		<div class="container">
			<div class="row">
				<div class="span2 offset1">
					<img src="{{STATIC_URL}}{{prod.imagen}}" />
				</div>
				<div class="span6">
					<form class="form-inline" method="post" action".">{% csrf_token %}
						<fieldset>
							 <legend>{{prod}}</legend> 
							  <button type="submit" class="btn btn-success btn-mini"><i class="icon-shopping-cart icon-white"></i><strong>Comprar</strong></button>
							  <a href="/" class="btn btn-primary btn-mini"><i class="icon-arrow-left icon-white"></i><strong> Seguir Comprando
							  	</strong></a>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}