{% extends 'base.html' %}
{% block breadcrumb %}
	<li><a href="{% url 'ofertas' %}">Ofertas</a> <span class="divider">/</span></li>
	<li><a href="{% url 'edit_ofertas' of.id %}">{{of.producto}}</a> <span class="divider">/</span></li>
{% endblock %}
{% block cuerpo %}
	<h1> Alta y baja de Ofertas </h1>
	<hr>
	<div class="row">
		<div class="span5 offset1">
			<form method="POST" action="{% url 'edit_ofertas' of.id %}">{% csrf_token %}
				<p><label for="id_categoria">Categoria:</label> 
					<select id="id_categoria" name="categoria">
						<option value={{oferta.categoria}}</option>
					</select>
				</p>
				<p><label for="id_producto">Producto:</label> 
					<select id="id_producto" name="producto">
							<option {{oferta.producto}}</option>
					</select>
				</p>
				<p><label for="id_fecha_inicio">Fecha inicio:</label> 
					{{ oferta.fecha_inicio }} 
				</p>
				<p><label for="id_fecha_fin">Fecha fin:</label> 
					{{ oferta.fecha_fin }}
				</p>
				<p><label for="id_costo">Costo:</label> 
					{{oferta.costo}}
				</p>
				<p>
					<input type="submit" class="btn btn-small btn-success" value="Grabar" />
				</p>
			</form>
		</div>
		<div class="span3">
			<img src="{{STATIC_URL}}{{of.producto.imagen}}"/>
		</div>
	</div>
	<h3>Listado de ofertas</h3>
			<table class="table table-condensed table-bordered table-hover" id="table" name="table">
		  		<thead>
		  				<th>
		  					
		  				</th>
			  			<th>
			  				Categoria
			  			</th>
			  			<th>
			  				Descripcion	
			  			</th>
			  			<th>
			  				Costo
			  			</th>
			  			<th>
			  				Desde
			  			</td>
			  			<th>
			  				Hasta
			  			</th>
			  			<th>
			  			</th>
			  			<th>
			  			</th>
			  		
		  		</thead>

		  		{% for oferta in ofertas %}
		  		<tbody>
				<tr>
					<td>{{oferta.id}}</td>
					<td>{{oferta.producto.categoria}}</td>
					<td>{{oferta.producto.descripcion}}</td>
					<td>${{oferta.costo}}</td>
					<td>{{oferta.fecha_inicio}}</td>
					<td>{{oferta.fecha_fin}}</td>
					<td><center><a href="{% url 'edit_ofertas' oferta.id %}"><i class="icon-edit"></i></a></center></td>
					<td><center><a href="{% url 'borrar_oferta' oferta.id %}"><i class="icon-remove-sign"></i></a></center></td>
				</tr>
				</tbody>
				{% endfor %}	
			</table>

{% endblock %}