{% extends "base.html" %}
{% block breadcrumb %}
	<li><a href="{% url 'categorias' %}">Categorias</a> <span class="divider">/</span></li>
	<li><a href="{% url 'edit_categorias' cat.id %}">{{cat}}</a> <span class="divider">/</span></li>
{% endblock %}
{% block cuerpo %}
	<h1> Alta y baja de Categorias </h1>
	<hr>
	<form method="POST" action="{% url 'edit_categorias' cat.id %}">
		
		<ul class="nav navbar">
			{% csrf_token %}
			{{categoria.as_ul}}
			<li>
				<input type="submit" class="btn btn-small btn-success" value="Grabar"/>
			</li>
		</ul>
	</form>
	<h3>Listado de categorias</h3>
	<table class="table table-bordered">
  		<th>
  			<td>
  				Descripcion	
  			</td>
  			<td>
  			</td>
  		</th>
  		{% for cat in categorias %}
		<tr>
			<td>{{cat.id}}</td>
			<td>{{cat.descripcion}}</td>
			<td><a href="{% url 'edit_categorias' cat.id %}"><i class="icon-edit"></i></a><a href="{% url 'borrar_categoria' cat.id %}"><i class="icon-trash"></i></a></td>
		</tr>
		{% endfor %}	
	</table>


	
{% endblock %}