{% extends "base.html" %}

{% block cuerpo %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 well">
			<h3 class="text-right text-info">
				Procesar pedido N° {{pedido.id}}
			</h3>
			<p class="text">

				<strong>Cliente: </strong> {{pedido.cliente.user.first_name}} {{pedido.cliente.user.last_name}}<br>
				<strong>Fecha: </strong> {{pedido.fecha_carga}}<br>
				<strong>Metodo Envio: </strong> {{pedido.tipo_envio}}<br>
				<strong>Metodo Pago: </strong> {{pedido.metodo_pago}}<br>
			</p>
		</div>
		<br>
		<hr>
		<div class="span12">
			<div class="accordion" id="accordion-92997">
				{% for item in productos_pedido %}
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-92997" href="#accordion-element-{{item.producto.id}}">{{item.producto}}</a> 
					</div>
					<div id="accordion-element-{{item.producto.id}}" class="accordion-body collapse">
						<div class="accordion-inner">
							{% if not item.anulado %}
								<p><strong>Cantidad Pedida: </strong>{{item.cantidad}}</p>
								<p><strong>Cantidad Disponible: </strong>{{item.producto.stock_actual}}</p>
								{% if item.cantidad > item.producto.stock_actual %}
									<p>
										<a id="modal-cant-{{item.producto.id}}" href="#modal-container-cant-{{item.producto.id}}" role="button" class="btn btn-success btn-mini" data-toggle="modal">Modificar Cantidad</a>
									<div id="modal-container-cant-{{item.producto.id}}" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<form method="POST" action="{% url 'modifica_item' item.id %}">{% csrf_token %}
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="myModalLabel">
												Modificar Cantidad
											</h3>
										</div>
										<div class="modal-body">
											<p>
												<label for="cantidad">Cantidad</label>
												<input type="text" name="cantidad" id="cantidad">
											</p>
											<p>
												<label for="observaciones">Describa brevemente el motivo de la modificacion</label>
												<textarea id="observaciones" name="observaciones"></textarea>
											</p>
											
										</div>
										<div class="modal-footer">
											 <button class="btn btn-mini" data-dismiss="modal" aria-hidden="true">Cerrar</button> <button class="btn btn-primary btn-mini">Guardar</button>
										</div>
										</form>
									</div>
										<a id="modal-{{item.producto.id}}" href="#modal-container-{{item.producto.id}}" role="button" class="btn btn-danger btn-mini" data-toggle="modal">Anular Producto</a>
									<div id="modal-container-{{item.producto.id}}" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<form method="POST" action="{% url 'anula_item' item.id %}">{% csrf_token %}
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="myModalLabel">
												Anular Producto
											</h3>
										</div>
										<div class="modal-body">
											
											<p>
												<label for="observaciones">Describa brevemente el motivo de la anulacion</label>
												<textarea id="observaciones" name="observaciones"></textarea>
											</p>
											
										</div>
										<div class="modal-footer">
											 <button class="btn btn-mini" data-dismiss="modal" aria-hidden="true">Cerrar</button> <button class="btn btn-primary btn-mini">Guardar</button>
										</div>
										</form>
									</div>
								{% else %}
									<span class="label label-success">Pedido ok</span>	
								{% endif %}
							{% else %}
								<span class="label label-important">Anulado</span>
								<p><strong>Motivo: </strong> {{item.observaciones}}
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<a class="btn btn-success btn-mini" href="{% url 'facturar_pedido' pedido.id %}"><i class="icon-print icon-white"></i>Facturar pedido</a>  <a id="modal-rechazar-{{pedido.id}}" href="#modal-container-rechazar-{{pedido.id}}" role="button" class="btn btn-danger btn-mini" data-toggle="modal"><i class="icon-remove icon-white"></i> Rechazar pedido</a> 
			<div id="modal-container-rechazar-{{pedido.id}}" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<form method="POST" action="{% url 'rechazar_pedido' pedido.id %}">{% csrf_token %}
					<div class="modal-header">
						 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">
							Rechazar Pedido
						</h3>
					</div>
					<div class="modal-body">
						
						<p>
							<label for="observaciones">Describa brevemente el motivo del rechazo</label>
							<textarea id="observaciones" name="observaciones"></textarea>
						</p>
						
					</div>
					<div class="modal-footer">
						 <button class="btn btn-mini" data-dismiss="modal" aria-hidden="true">Cerrar</button> <button class="btn btn-primary btn-mini">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
