{% extends "base.html" %}
{% block breadcrumb %}
	<li><a href="{% url 'productos' %}">Productos</a> <span class="divider">/</span></li>
{% endblock %}
{% block cuerpo %}
	<h1> Alta y baja de Productos </h1>
	<hr>
	<form method="POST" action="{% url 'productos' %}" enctype="multipart/form-data">
		
		<ul class="nav navbar">
			{% csrf_token %}
			{{producto.as_ul}}
			<li>
				<input type="submit" class="btn btn-small btn-success" value="Grabar"/>
			</li>
		</ul>
	</form>
	<h3>Listado de productos</h3>
			<table class="table table-bordered">
		  		<th>
		  			<td>
		  				Categoria
		  			</td>
		  			<td>
		  				Descripcion	
		  			</td>
		  			<td>
		  				Marca
		  			</td>
		  			<td>
		  			</td>
		  			<td>
		  			</td>
		  		</th>
		  		{% for prod in productos %}
				<tr>
					<td>{{prod.id}}</td>
					<td>{{prod.categoria}}</td>
					<td>{{prod.nombre}}</td>
					<td>{{prod.marca}}</td>
					<td><center><a href="{% url 'edit_productos' prod.id %}"><i class="icon-edit"></i></a></center></td>
					<td><center><a href="{% url 'borrar_producto' prod.id %}"><i class="icon-remove-sign"></i></a></center></td>
				</tr>
				{% endfor %}	
			</table>


	
{% endblock %}